<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Заряд аккумулятора</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Наличие слота для SD карты</td>
      <td>{{ product.sd}}</td>
    </tr>
    <tr>
      <td>Максимальный объем sd карты</td>
      <td>{{ product.sd_volume }}</td>
    </tr>
    <tr>
      <td>Основная камера (Мп)</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Фронтальная ккамера (Мп)</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>
